<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848508626851-2qhooajlud01mvbj3avqned1on3ebd18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848508626851-2qhooajlud01mvbj3avqned1on3ebd18</string>
	<key>API_KEY</key>
	<string>AIzaSyCWM1C_ORT__CSwly0D3q7wNizpiOlRE7g</string>
	<key>GCM_SENDER_ID</key>
	<string>848508626851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.HowITalk</string>
	<key>PROJECT_ID</key>
	<string>howtalk-ec3d7</string>
	<key>STORAGE_BUCKET</key>
	<string>howtalk-ec3d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848508626851:ios:f725d373523b672190dc16</string>
</dict>
</plist>